[[source]]
url = "https://pypi.org/simple"
#url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
flask = "*"
tensorflow = "*"
kashgari = "*"
gunicorn = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.7"
